$myColor: green;
@mixin job-display-boxes {
    margin:10px;
    width:25%;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
    
}

.dash-job-cont {
    @include job-display-boxes;
    transition: 0.3s;
}
.dash-job-cont:hover {
    box-shadow: 0px 0px 5px 1px red;
}
#empty {
    height:200px;
}
#main-dash-cont {
    display: flex;
    width: 70%;
    position: relative;
    left: 180px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.dash-job-cont img {
    width:80%
}
.dash-job-cont button {
    margin-top: 10px;
    padding: 5px;
    margin:0px 15px;
}
@media only screen and (max-width: 768px) {
    #main-dash-cont {
        flex-direction: column;
        position: static;
        width:100%;
        padding:0;
    }
    .dash-job-cont {
        width:100%;

    }
    
}
