.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 68%;
    margin: 15px auto;
    padding: 15px;
    background-image: linear-gradient(0deg, #2f232a, #f8f8f8);
    display: flex;
}
#card2-img {
    width:30%;
    float:left;
}
.contact-box {
    width:30%;

}
.skills-box {
    width: 30%;
}

a:visited {
    color:black;
}
.skills-box > h5 {
    margin: 0;
    font-size: 25px;
    color: snow;
    text-decoration: underline;
}
.contact-box  span {
    margin: 0;
    font-size: 25px;
    color: snow;
    text-decoration: underline;
}
@media only screen and (max-width: 768px) {
    .card2 {
        flex-direction: column;
        width:80%;
    }
    .contact-box {
        width:100%;
    }
    .skills-box {
        width:100%;
    }
    .skills-box > ul {
        list-style: none;
        padding:0;
    }
    #card2-img {
        width:100%;
        margin-bottom:10px;
    }
}