.add-job-cont {
    width: 50%;
    margin: auto;
    background-image: linear-gradient(0deg, #2f232a, #f8f8f8);
    padding: 20px;
    margin-bottom:45px;
}
.add-job-cont > input {
    margin:10px 0px;
    padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
textarea {
    width:100%;
    resize: vertical;
    border-radius:15px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    height:100px;
    text-align: center;
    margin-top:25px;
  }
  input:hover, textarea:hover {
    background-color: lightgrey;
  }

  @media only screen and (max-width: 768px) {  
    .add-job-cont img {
   width:100%;
    }
    .add-job-cont {
      width:90%;
      margin-bottom:45px;
    }
}