#home-cont {
    background-image: url('https://wallpaperset.com/w/full/9/6/4/158610.jpg');
    padding: 20px;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: lightgrey;;
}
.home-box-main {
    /* background-color: blue; */
    width: 50%;
    margin: auto;
    position: relative;
    top: 200px;
    color:white
}
.home-box-main > input {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
.home-box-main  button {
    margin-top: 10px;
    padding: 5px;
}

@media only screen and (max-width: 768px) {
    .home-box-main {
        width:80%;
    }
    .home-box-main > input{
        width:100%;
    }
    
}