#nav {
    width: 100px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    color: #fff;
    background-image: -webkit-gradient(linear,left bottom,left top,from(#2f232a),to(#f8f8f8));
    background-image: -webkit-linear-gradient(bottom,#2f232a,#f8f8f8);
    background-image: -o-linear-gradient(bottom,#2f232a,#f8f8f8);
    background-image: linear-gradient(0deg,#2f232a,#f8f8f8);
    -webkit-box-shadow: 10px 0 20px 0 rgba(0,0,0,.1), 5px 0 5px rgba(0,0,0,.2);
    box-shadow: 10px 0 20px 0 rgba(0,0,0,.1), 5px 0 5px rgba(0,0,0,.2);
}
.imgBox {
    width: 70px;
    height: 70px;
    background-color: #fff;
    background-position: 50%;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 20px #333;
    left: 14px;
    overflow: hidden;
}
.imgBox > img {
    height:100%;
    width:100%;
}
#nav-links {
    height: 120px;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.logout {
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: 40px;
}
.a-tag {
    position: relative;
    top: 45px;
}
#mobile-nav {
    width:100%;
    display:none;
    background-color: #d6d5d6;
    justify-content: space-around;

    
}
#mobile-nav > a {
    list-style: none;
}
#mobile-nav > a:hover {
    color:grey;
}
#logout-img {
    width: 50%;
    margin-left: -10px;
}


@media only screen and (max-width: 768px) {
    #nav {
        display:none;
    }
    #mobile-nav {
        display:flex;
    }
    #mobile-nav > a{
        margin:10px;
    }
    #logout-img {
        width: 30px;
        height: 30px;
        font-size:25px;
    }
    
}